<article class="article-list-item">
    {{#if feature_image}}
        <div class="list-item-image">
            <img src="{{feature_image}}" alt="{{title}}" />
        </div>
    {{/if}}
    <div class="list-item-content">
        <div class="list-item-meta">
            {{#if primary_tag}}
                <a href="{{primary_tag.url}}" class="list-tag">{{primary_tag.name}}</a>
            {{/if}}
            <span class="list-date">{{date published_at format="MMM DD, YYYY"}}</span>
        </div>
        <h3 class="list-item-title">
            <a href="{{url}}">{{title}}</a>
        </h3>
        <p class="list-item-excerpt">{{excerpt words="30"}}...</p>
        <a href="{{url}}" class="read-more">Read Full Article →</a>
    </div>
</article>
