<article class="featured-article">
    {{#if feature_image}}
        <div class="featured-image">
            <img src="{{feature_image}}" alt="{{title}}" />
            {{#if primary_tag}}
                <span class="featured-category">{{primary_tag.name}}</span>
            {{/if}}
        </div>
    {{/if}}
    <div class="featured-content">
        <h2 class="featured-title">
            <a href="{{url}}">{{title}}</a>
        </h2>
        <p class="featured-excerpt">{{excerpt words="25"}}...</p>
        <div class="featured-footer">
            <span class="featured-date">{{date published_at format="MMM DD"}}</span>
            {{#if primary_author}}
                <span class="featured-author">by {{primary_author.name}}</span>
            {{/if}}
        </div>
    </div>
</article>
